Repository Wu-H-Y/Spectra: changes, and which lint-staged commands are due for each by the changed paths.
All: https://json.schemastore.org/lintstagedrc.schema.json, bun run lint:fix:dart, bun run format:dart, bun run lint:fix:rust, bun run format:rust, bun run lint:fix:web, bun run format:web

chore(docs): 删除旧的规范文档
  CLAUDE.md
  docs/superpowers/plans/2026-03-11-spectra-ui-implementation.md
  docs/superpowers/specs/2026-03-11-spectra-ui-design.md
  rust/AGENTS.md
Due: none

feat: 更新statge
  .lintstagedrc.js
Due: none

chore: 调整依赖和配置
  .mcp.json
  AGENTS.md
  analysis_options.yaml
  build.yaml
  package.json
  pubspec.lock
  pubspec.yaml
Due: none

feat: 优化husky配置
  .husky/pre-commit
  .lintstagedrc.js
  package.json
Due: none

chore(hooks): 限定暂存文件检查范围
  .lintstagedrc.js
Due: none

feat(rules-domain): 恢复规则领域模型与校验器
  lib/features/rules/domain/entities/rule.dart
  lib/features/rules/domain/entities/rule.freezed.dart
  lib/features/rules/domain/entities/rule_graph.dart
  lib/features/rules/domain/entities/rule_graph.freezed.dart
  lib/features/rules/domain/entities/rule_metadata.dart
  lib/features/rules/domain/entities/rule_metadata.freezed.dart
  lib/features/rules/domain/repositories/rule_repository.dart
  lib/features/rules/domain/validators/rule_validator.dart
  lib/features/rules/domain/validators/rule_validator.freezed.dart
  test/features/rules/domain/validators/rule_validator_test.dart
Due: bun run lint:fix:dart, bun run format:dart

feat(rules-data): 恢复规则仓库与导入状态链路
  lib/features/rules/data/datasources/local/rules_dao.dart
  lib/features/rules/data/models/rule_model.dart
  lib/features/rules/data/repositories/rule_repository_impl.dart
  lib/features/rules/presentation/providers/rules_provider.dart
  lib/features/rules/presentation/providers/rules_provider.freezed.dart
  test/features/rules/data/datasources/local/rules_dao_test.dart
  test/features/rules/data/repositories/rule_repository_impl_test.dart
Due: bun run lint:fix:dart, bun run format:dart

feat(rules-ui): 恢复规则管理页与导入交互
  lib/core/i18n/en.i18n.json
  lib/core/i18n/strings.g.dart
  lib/core/i18n/strings_en.g.dart
  lib/core/i18n/strings_zh.g.dart
  lib/core/i18n/zh.i18n.json
  lib/features/rules/presentation/pages/rules_page.dart
  lib/features/rules/presentation/widgets/import_rule_button.dart
  lib/features/rules/presentation/widgets/import_rule_dialog.dart
  lib/features/rules/presentation/widgets/import_rule_url_dialog.dart
  test/core/router/app_router_test.dart
  test/features/rules/presentation/pages/rules_page_test.dart
Due: bun run lint:fix:dart, bun run format:dart

chore(config): 更新开发配置与忽略规则
  .gitignore
  .vscode/settings.json
Due: none

feat(flutter): 补齐规则深链平台接入
  android/app/src/main/AndroidManifest.xml
  ios/Runner/Info.plist
  lib/core/router/app_router.dart
  lib/core/router/app_router.g.dart
  lib/main.dart
  macos/Flutter/GeneratedPluginRegistrant.swift
  macos/Runner/Info.plist
Due: bun run lint:fix:dart, bun run format:dart

feat(flutter): 优化发现搜索收藏与设置页体验
  lib/features/discover/presentation/pages/discover_page.dart
  lib/features/favorites/presentation/pages/favorites_page.dart
  lib/features/search/presentation/pages/search_page.dart
  lib/features/settings/presentation/pages/settings_appearance_page.dart
  lib/features/settings/presentation/pages/settings_data_page.dart
  lib/features/settings/presentation/pages/settings_page.dart
  lib/features/settings/presentation/pages/settings_playback_page.dart
  lib/shared/providers/settings_provider.dart
  lib/shared/providers/settings_provider.g.dart
  lib/shared/widgets/adaptive_scaffold.dart
Due: bun run lint:fix:dart, bun run format:dart

feat(runtime): 调整运行时工作区与服务协调
  lib/core/database/drift/app_database.dart
  lib/core/database/drift/tables/user_data_v1.dart
  lib/core/errors/app_failure_display_extension.dart
  lib/core/server/preview_runner_adapter.dart
  lib/core/server/routes/preview_routes.dart
  lib/core/server/routes/rules_routes.dart
  lib/core/server/runtime_session_coordinator.dart
  lib/features/rules_execute/application/rules_runtime_workspace_controller.dart
  lib/features/rules_execute/presentation/pages/rules_execute_page.dart
  lib/shared/widgets/either_widgets.dart
  test/core/server/runtime_session_coordinator_test.dart
  test/features/rules_execute/application/rules_runtime_workspace_controller_test.dart
  test/rules_execute_page_test.dart
Due: bun run lint:fix:dart, bun run format:dart

chore(web-editor): 更新规则编辑器依赖与构建配置
  web-editor/bun.lock
  web-editor/package.json
  web-editor/src/main.tsx
  web-editor/tsconfig.app.json
  web-editor/vite.config.ts
Due: bun run lint:fix:web, bun run format:web

refactor(web-editor): 收敛规则编辑器页面与类型模型
  web-editor/src/hooks/useWebSocket.ts
  web-editor/src/lib/ruleGraph.test.ts
  web-editor/src/pages/rules/RuleEditorPage.tsx
  web-editor/src/types/Capabilities.ts
  web-editor/src/types/ChapterItem.ts
  web-editor/src/types/ContentModel.ts
  web-editor/src/types/CryptoCapabilities.ts
  web-editor/src/types/DataType.ts
  web-editor/src/types/DetailModel.ts
  web-editor/src/types/Edge.ts
  web-editor/src/types/Graph.ts
  web-editor/src/types/GraphLayout.ts
  web-editor/src/types/GraphMetadata.ts
  web-editor/src/types/KeyRef.ts
  web-editor/src/types/KeyRefProvider.ts
  web-editor/src/types/LifecyclePhase.ts
  web-editor/src/types/MediaAsset.ts
  web-editor/src/types/MediaExtension.ts
  web-editor/src/types/MediaSpec.ts
  web-editor/src/types/MediaType.ts
  web-editor/src/types/Metadata.ts
  web-editor/src/types/Node.ts
  web-editor/src/types/NodeKind.ts
  web-editor/src/types/NodeLayout.ts
  web-editor/src/types/NormalizedModel.ts
  web-editor/src/types/Port.ts
  web-editor/src/types/PortRef.ts
  web-editor/src/types/RecordField.ts
  web-editor/src/types/RuleRateLimit.ts
  web-editor/src/types/SearchItem.ts
  web-editor/src/types/SearchModel.ts
  web-editor/src/types/TocModel.ts
  web-editor/src/types/rule.ts
Due: bun run lint:fix:web, bun run format:web

refactor(rules-engine): 拆分 rules_engine 模块并补齐集成测试
  rust/src/rules_engine/context.rs
  rust/src/rules_engine/error.rs
  rust/src/rules_engine/events.rs
  rust/src/rules_engine/execution.rs
  rust/src/rules_engine/graph.rs
  rust/src/rules_engine/limiter.rs
  rust/src/rules_engine/mod.rs
  rust/src/rules_engine/nodes/cookie.rs
  rust/src/rules_engine/nodes/fetch.rs
  rust/src/rules_engine/nodes/transform.rs
  rust/src/rules_engine/result.rs
  rust/src/rules_engine/stats.rs
  rust/src/rules_engine/storage.rs
  rust/src/rules_engine/tests.rs
  rust/src/rules_engine/value.rs
  rust/tests/rules_engine_integration.rs
  rust/tests/rules_engine_integration_topology.rs
  rust/tests/rules_engine_support/mod.rs
Due: bun run lint:fix:rust, bun run format:rust

refactor(rules-validate): 拆分校验模块并对齐 secureStore 契约
  rust/src/frb_generated.rs
  rust/src/rules_validate/capabilities.rs
  rust/src/rules_validate/edges.rs
  rust/src/rules_validate/graph.rs
  rust/src/rules_validate/mod.rs
  rust/src/rules_validate/nodes/cache.rs
  rust/src/rules_validate/nodes/cookie.rs
  rust/src/rules_validate/nodes/mod.rs
  rust/src/rules_validate/nodes/transform.rs
  rust/src/rules_validate/phase.rs
  rust/src/rules_validate/topology.rs
  rust/src/rules_validate/types.rs
  rust/src/rules_validate/utils.rs
  rust/tests/rules_validate_cache_cookie.rs
  rust/tests/rules_validate_fixtures.rs
  rust/tests/rules_validate_support/mod.rs
  rust/tests/rules_validate_transform.rs
Due: bun run lint:fix:rust, bun run format:rust

refactor(web-editor): 重构 RuleEditorPage 并补齐运行时验证
  web-editor/src/components/rules/RuleEditorHeader.tsx
  web-editor/src/components/rules/RuleGraphEditorCard.tsx
  web-editor/src/components/rules/RuleJsonEditorCard.tsx
  web-editor/src/components/rules/RuleValidationResultCard.tsx
  web-editor/src/components/rules/TransformParamEditor.tsx
  web-editor/src/hooks/useRuleEditorGraph.ts
  web-editor/src/hooks/useRuleEditorResource.ts
  web-editor/src/hooks/useRuleEditorRuntime.test.tsx
  web-editor/src/hooks/useRuleEditorRuntime.ts
  web-editor/src/hooks/useRuleEditorTransformFields.ts
  web-editor/src/hooks/useRuleEditorTransformNode.ts
  web-editor/src/lib/ruleEditorEnvelope.test.ts
  web-editor/src/lib/ruleEditorEnvelope.ts
  web-editor/src/lib/ruleEditorTransform.test.ts
  web-editor/src/lib/ruleEditorTransform.ts
  web-editor/src/pages/rules/RuleEditorPage.tsx
Due: bun run lint:fix:web, bun run format:web

docs: 移除AGENTS.md
  .gitignore
  AGENTS.md
Due: none

Path conditions:
  https://json.schemastore.org/lintstagedrc.schema.json: any of: $schema
  bun run lint:fix:dart: any of: lib/**/*.dart
  bun run format:dart: any of: lib/**/*.dart
  bun run lint:fix:rust: any of: rust/**/*.rs
  bun run format:rust: any of: rust/**/*.rs
  bun run lint:fix:web: any of: web-editor/**/*.{ts,tsx,json,css,scss,md}
  bun run format:web: any of: web-editor/**/*.{ts,tsx,json,css,scss,md}
