Repository Wu-H-Y/Spectra: changes, and which lint-staged commands are due for each by the changed paths.
All: https://json.schemastore.org/lintstagedrc.schema.json, bun run lint:fix:dart, bun run format:dart, bun run lint:fix:rust, bun run format:rust, bun run lint:fix:web, bun run format:web

feat(rules-ir): 生成 TS 类型与 fixtures
  fixtures/ir_v1_invalid_edge.json
  fixtures/ir_v1_min.json
  test/rules_ir_json_test.dart
  web-editor/bun.lock
  web-editor/package.json
  web-editor/src/types/Capabilities.ts
  web-editor/src/types/DataType.ts
  web-editor/src/types/Edge.ts
  web-editor/src/types/Graph.ts
  web-editor/src/types/GraphLayout.ts
  web-editor/src/types/GraphMetadata.ts
  web-editor/src/types/LifecyclePhase.ts
  web-editor/src/types/Metadata.ts
  web-editor/src/types/Node.ts
  web-editor/src/types/NodeKind.ts
  web-editor/src/types/NodeLayout.ts
  web-editor/src/types/Port.ts
  web-editor/src/types/PortRef.ts
  web-editor/src/types/RecordField.ts
  web-editor/src/types/rule.ts
Due: bun run lint:fix:web, bun run format:web

chore(git): 忽略 editor 构建产物
  .gitignore
  assets/editor/assets/RuleEditorPage-BJVxw5e1.js
  assets/editor/assets/RuleListPage-kbOF4qVY.js
  assets/editor/assets/index-Cje_8L3Q.js
  assets/editor/assets/index-ojtfT38r.css
  assets/editor/assets/input-BZXA1OJ3.js
  assets/editor/assets/vendor-data-B2h88IjC.js
  assets/editor/assets/vendor-editor-DvR7-QV0.js
  assets/editor/assets/vendor-react-BDcrgNxs.js
  assets/editor/assets/vendor-ui-YtWZSjw-.js
  assets/editor/icon.svg
  assets/editor/index.html
  assets/editor/sample-rules.json
Due: none

docs(rules): 补充 IR 与协议文档
  docs/api-contract-v1.md
  docs/rules-ir-v1.md
  docs/ws-protocol-v1.md
Due: none

chore(plan): 更新重构进度证据
  .opencode/skills/rust-ffi-guide/SKILL.md
  .sisyphus/boulder.json
  .sisyphus/evidence/task-0-rust-hard-reset.md
  .sisyphus/evidence/task-1-ir-v1.md
  .sisyphus/evidence/task-2-nodeevent-protocol.md
  .sisyphus/evidence/task-3-api-contract.md
  .sisyphus/evidence/task-4-drift-migration.md
  .sisyphus/evidence/task-4-drift-redesign.md
  .sisyphus/evidence/task-6-dart-json.md
  .sisyphus/evidence/task-6-ts-build.md
  .sisyphus/notepads/rust-rules-architecture-refactor/decisions.md
  .sisyphus/notepads/rust-rules-architecture-refactor/issues.md
  .sisyphus/notepads/rust-rules-architecture-refactor/learnings.md
  .sisyphus/notepads/rust-rules-architecture-refactor/problems.md
  .sisyphus/plans/rust-rules-architecture-refactor.md
Due: none

chore(repo): 同步代理与计划元数据
  .agents/AGENTS.md
  .agents/skills/core-actionbook/SKILL.md
  .agents/skills/core-agent-browser/SKILL.md
  .agents/skills/core-dynamic-skills/SKILL.md
  .agents/skills/core-fix-skill-docs/SKILL.md
  .sisyphus/boulder.json
Due: none

fix(repo): 修正 lint-staged 触发逻辑
  .lintstagedrc.js
  test/rules_api_crud_test.dart
Due: none

fix: 移除错误生成的代码
  rust/web-editor/src/types/Capabilities.ts
  rust/web-editor/src/types/DataType.ts
  rust/web-editor/src/types/Edge.ts
  rust/web-editor/src/types/Graph.ts
  rust/web-editor/src/types/GraphLayout.ts
  rust/web-editor/src/types/GraphMetadata.ts
  rust/web-editor/src/types/LifecyclePhase.ts
  rust/web-editor/src/types/Metadata.ts
  rust/web-editor/src/types/Node.ts
  rust/web-editor/src/types/NodeKind.ts
  rust/web-editor/src/types/NodeLayout.ts
  rust/web-editor/src/types/Port.ts
  rust/web-editor/src/types/PortRef.ts
  rust/web-editor/src/types/RecordField.ts
  rust/web-editor/src/types/rule.ts
Due: none

feat: 调整talker日志格式
  lib/shared/providers/talker_provider.dart
Due: bun run lint:fix:dart, bun run format:dart

feat(server): 接入规则服务端与执行入口
  lib/core/database/drift/app_database.dart
  lib/core/router/app_router.dart
  lib/core/router/app_router.g.dart
  lib/core/server/preview_runner.dart
  lib/core/server/routes/preview_routes.dart
  lib/core/server/routes/rules_routes.dart
  lib/core/server/server_provider.dart
  lib/core/server/server_provider.g.dart
  lib/features/home/presentation/pages/home_page.dart
  lib/features/rules_execute/presentation/pages/rules_execute_page.dart
  lib/l10n/generated/intl/messages_en.dart
  lib/l10n/generated/intl/messages_zh.dart
  lib/l10n/generated/l10n.dart
  lib/l10n/intl_en.arb
  lib/l10n/intl_zh.arb
  test/preview_api_test.dart
  test/rules_api_crud_test.dart
  test/rules_execute_page_test.dart
  test/rules_execute_ws_test.dart
Due: bun run lint:fix:dart, bun run format:dart

refactor(web-editor): 切换新规则编辑体验
  web-editor/bun.lock
  web-editor/public/sample-rules.json
  web-editor/src/components/preview/PreviewPanel.tsx
  web-editor/src/components/preview/SelectorTestingPanel.tsx
  web-editor/src/components/rules/FieldMappingEditor.tsx
  web-editor/src/components/rules/PaginationConfigForm.tsx
  web-editor/src/hooks/useWebSocket.ts
  web-editor/src/i18n/locales/en.json
  web-editor/src/i18n/locales/zh.json
  web-editor/src/lib/ruleGraph.test.ts
  web-editor/src/lib/ruleGraph.ts
  web-editor/src/pages/rules/RuleEditorPage.tsx
Due: bun run lint:fix:web, bun run format:web

bd init: initialize beads issue tracking
  .beads/.gitignore
  .beads/README.md
  .beads/config.yaml
  .beads/dolt-monitor.pid.lock
  .beads/hooks/post-checkout
  .beads/hooks/post-merge
  .beads/hooks/pre-commit
  .beads/hooks/pre-push
  .beads/hooks/prepare-commit-msg
  .beads/interactions.jsonl
  .beads/metadata.json
  AGENTS.md
Due: none

fix(beads): 移除本地路径路由配置
  .beads/.gitignore
  .beads/config.yaml
  .beads/dolt-monitor.pid.lock
Due: none

fix(beads): 修正 sync.branch 配置键
  .beads/config.yaml
Due: none

docs(beads): 补充 repo 使用约定
  AGENTS.md
Due: none

feat: 移除beads
  .beads/.gitignore
  .beads/README.md
  .beads/config.yaml
  .beads/hooks/post-checkout
  .beads/hooks/post-merge
  .beads/hooks/pre-commit
  .beads/hooks/pre-push
  .beads/hooks/prepare-commit-msg
  .beads/interactions.jsonl
  .beads/metadata.json
  AGENTS.md
Due: none

docs(runtime): 废弃旧方向并定义 runtime 归属模型
  docs/api-contract-v1.md
  docs/runtime-ownership-v1.md
  docs/runtime-session-ownership-v1.md
  docs/ws-protocol-v1.md
Due: none

refactor(server): 拆分 server provider runtime 职责
  lib/core/server/preview_runner_adapter.dart
  lib/core/server/routes/preview_routes.dart
  lib/core/server/routes/rules_routes.dart
  lib/core/server/routes/server_routes.dart
  lib/core/server/runtime_session_coordinator.dart
  lib/core/server/runtime_workspace_client.dart
  lib/core/server/server_provider.dart
  lib/core/server/server_provider.g.dart
Due: bun run lint:fix:dart, bun run format:dart

feat(flutter): 添加 runtime workspace 统一预览与执行
  lib/core/router/app_router.dart
  lib/features/rules_execute/application/rules_runtime_workspace_controller.dart
  lib/features/rules_execute/application/rules_runtime_workspace_state.dart
  lib/features/rules_execute/presentation/pages/rules_execute_page.dart
Due: bun run lint:fix:dart, bun run format:dart

refactor(web-editor): 降级为 attach/read-only diagnostics
  web-editor/src/api/types.ts
  web-editor/src/components/preview/PreviewPanel.tsx
  web-editor/src/components/preview/SelectorTestingPanel.tsx
  web-editor/src/hooks/useWebSocket.ts
  web-editor/src/pages/rules/RuleEditorPage.tsx
Due: bun run lint:fix:web, bun run format:web

test(rust): 重组测试布局并添加集成测试
  rust/src/ffi/mod.rs
  rust/src/rules_engine/mod.rs
  rust/src/rules_ir/ws_protocol.rs
  rust/tests/adapter_boundary.rs
  rust/tests/runtime_session_flow.rs
  rust/tests/ws_protocol_correlation.rs
Due: bun run lint:fix:rust, bun run format:rust

test(flutter): 添加 runtime workspace 和集成测试
  integration_test/runtime_ownership_test.dart
  test/core/server/runtime_session_coordinator_test.dart
  test/features/rules_execute/application/rules_runtime_workspace_controller_test.dart
  test/rules_api_crud_test.dart
  test/rules_execute_page_test.dart
  test/rules_execute_ws_test.dart
Due: none

chore(i18n): 更新运行时相关翻译词条
  lib/l10n/generated/intl/messages_en.dart
  lib/l10n/generated/intl/messages_zh.dart
  lib/l10n/generated/l10n.dart
  lib/l10n/intl_en.arb
  lib/l10n/intl_zh.arb
  web-editor/src/i18n/locales/en.json
  web-editor/src/i18n/locales/zh.json
Due: bun run lint:fix:dart, bun run format:dart, bun run lint:fix:web, bun run format:web

chore(build): 更新构建配置和文档
  .gitignore
  AGENTS.md
  rust_builder/cargokit/cmake/cargokit.cmake
Due: none

fix(server): CORS 允许 X-Host-Only 请求头
  lib/core/server/middleware/cors_middleware.dart
Due: bun run lint:fix:dart, bun run format:dart

fix: resolve info-level issues in test files
  test/features/rules_execute/application/rules_runtime_workspace_controller_test.dart
  test/rules_execute_page_test.dart
Due: none

style: 修复 Flutter 代码静态分析问题
  integration_test/runtime_ownership_test.dart
  lib/features/rules_execute/application/rules_runtime_workspace_controller.dart
  lib/features/rules_execute/presentation/pages/rules_execute_page.dart
  test/features/rules_execute/application/rules_runtime_workspace_controller_test.dart
Due: bun run lint:fix:dart, bun run format:dart

docs: 调整ai配置
  .agents/skills/git-commit-and-push/SKILL.md
  AGENTS.md
  CLAUDE.md
Due: none

feat: 扩展 ResponsiveContext 添加网格和间距方法
  lib/core/theme/app_breakpoints.dart
Due: bun run lint:fix:dart, bun run format:dart

feat: 创建设置页子页面
  lib/features/settings/presentation/pages/settings_appearance_page.dart
  lib/features/settings/presentation/pages/settings_data_page.dart
  lib/features/settings/presentation/pages/settings_playback_page.dart
Due: bun run lint:fix:dart, bun run format:dart

refactor: 重构设置页为分组卡片结构
  lib/core/router/app_router.dart
  lib/core/router/app_router.g.dart
  lib/features/settings/presentation/pages/settings_page.dart
Due: bun run lint:fix:dart, bun run format:dart

feat: 优化收藏页响应式布局
  lib/features/favorites/presentation/pages/favorites_page.dart
Due: bun run lint:fix:dart, bun run format:dart

feat: 优化发现页响应式布局
  lib/features/discover/presentation/pages/discover_page.dart
Due: bun run lint:fix:dart, bun run format:dart

feat: 添加中文和英文国际化词条
  lib/l10n/generated/app_localizations.dart
  lib/l10n/generated/app_localizations_en.dart
  lib/l10n/generated/app_localizations_zh.dart
  lib/l10n/generated/intl/messages_en.dart
  lib/l10n/generated/intl/messages_zh.dart
  lib/l10n/generated/l10n.dart
  lib/l10n/intl_en.arb
  lib/l10n/intl_zh.arb
Due: bun run lint:fix:dart, bun run format:dart

chore: 删除旧首页目录
  .gitignore
  docs/superpowers/plans/2026-03-11-spectra-ui-implementation.md
  docs/superpowers/specs/2026-03-11-spectra-ui-design.md
  lib/AGENTS.md
  lib/core/database/drift/app_database.dart
  lib/core/database/drift/app_database.g.dart
  lib/core/database/drift/tables/user_data_v1.dart
  lib/features/home/data/datasources/.gitkeep
  lib/features/home/data/models/.gitkeep
  lib/features/home/data/repositories/.gitkeep
  lib/features/home/domain/entities/.gitkeep
  lib/features/home/domain/repositories/.gitkeep
  lib/features/home/domain/usecases/.gitkeep
  lib/features/home/presentation/pages/home_page.dart
  lib/features/home/presentation/providers/.gitkeep
  lib/features/home/presentation/widgets/.gitkeep
  lib/features/search/presentation/pages/search_page.dart
  lib/shared/widgets/adaptive_scaffold.dart
Due: bun run lint:fix:dart, bun run format:dart

chore(i18n): 删除旧的国际化实现
  lib/l10n/generated/app_localizations.dart
  lib/l10n/generated/app_localizations_en.dart
  lib/l10n/generated/app_localizations_zh.dart
  lib/l10n/generated/intl/messages_all.dart
  lib/l10n/generated/intl/messages_en.dart
  lib/l10n/generated/intl/messages_zh.dart
  lib/l10n/generated/l10n.dart
  lib/l10n/intl_en.arb
  lib/l10n/intl_zh.arb
  lib/shared/widgets/.gitkeep
Due: bun run lint:fix:dart, bun run format:dart

Path conditions:
  https://json.schemastore.org/lintstagedrc.schema.json: any of: $schema
  bun run lint:fix:dart: any of: lib/**/*.dart
  bun run format:dart: any of: lib/**/*.dart
  bun run lint:fix:rust: any of: rust/**/*.rs
  bun run format:rust: any of: rust/**/*.rs
  bun run lint:fix:web: any of: web-editor/**/*.{ts,tsx,json,css,scss,md}
  bun run format:web: any of: web-editor/**/*.{ts,tsx,json,css,scss,md}
