Repository Wu-H-Y/Spectra: changes, and which lint-staged commands are due for each by the changed paths.
All: https://json.schemastore.org/lintstagedrc.schema.json, dart format --fix, dart fix --apply, bun run --cwd web-editor lint:fix, bun run --cwd web-editor fmt

.lintstagedrc.json:

{
  "$schema": "https://json.schemastore.org/lintstagedrc.schema.json",
  "*.dart": [
    "dart format --fix",
    "dart fix --apply"
  ],
  "web-editor/**/*.{ts,tsx,json,css,scss,md}": [
    "bun run --cwd web-editor lint:fix",
    "bun run --cwd web-editor fmt"
  ]
}

refactor(editor): 迁移 ESLint 到 OXC
  .lintstagedrc.json
  web-editor/.gitignore
  web-editor/.oxfmtrc.json
  web-editor/.oxlintrc.json
  web-editor/.vscode/settings.json
  web-editor/bun.lock
  web-editor/eslint.config.js
  web-editor/package-lock.json
  web-editor/package.json
  web-editor/tsconfig.app.json
  web-editor/vite.config.ts
Due: bun run --cwd web-editor lint:fix, bun run --cwd web-editor fmt

style(editor): 格式化代码
  web-editor/README.md
  web-editor/src/App.tsx
  web-editor/src/api/client.ts
  web-editor/src/api/types.ts
  web-editor/src/components/ui/button.tsx
  web-editor/src/components/ui/card.tsx
  web-editor/src/components/ui/input.tsx
  web-editor/src/components/ui/label.tsx
  web-editor/src/i18n/index.ts
  web-editor/src/index.css
  web-editor/src/lib/utils.ts
  web-editor/src/main.tsx
  web-editor/src/stores/index.ts
Due: bun run --cwd web-editor lint:fix, bun run --cwd web-editor fmt

build(editor): 更新静态资源
  assets/editor/assets/index-BAcoX-vc.js
  assets/editor/assets/index-BZ37PrkW.js
  assets/editor/index.html
Due: none

docs: 更新贡献指南和 README
  .github/CONTRIBUTING.md
  .gitignore
  README.md
Due: none

chore(openspec): 归档变更并更新规范
  openspec/changes/archive/2026-02-19-migrate-git-hooks-husky-oxc/.openspec.yaml
  openspec/changes/archive/2026-02-19-migrate-git-hooks-husky-oxc/design.md
  openspec/changes/archive/2026-02-19-migrate-git-hooks-husky-oxc/proposal.md
  openspec/changes/archive/2026-02-19-migrate-git-hooks-husky-oxc/specs/commitlint/spec.md
  openspec/changes/archive/2026-02-19-migrate-git-hooks-husky-oxc/specs/lint-staged/spec.md
  openspec/changes/archive/2026-02-19-migrate-git-hooks-husky-oxc/specs/oxc-lint-format/spec.md
  openspec/changes/archive/2026-02-19-migrate-git-hooks-husky-oxc/specs/unified-git-hooks/spec.md
  openspec/changes/archive/2026-02-19-migrate-git-hooks-husky-oxc/tasks.md
  openspec/specs/commitlint/spec.md
  openspec/specs/contribution-guide/spec.md
  openspec/specs/git-hooks/spec.md
  openspec/specs/lint-staged/spec.md
  openspec/specs/oxc-lint-format/spec.md
  openspec/specs/unified-git-hooks/spec.md
  package.json
Due: none

chore: 添加 VS Code 工作区配置
  spectra.code-workspace
Due: none

chore(openspec): 归档爬虫规则系统变更，添加新规范
  openspec/changes/archive/2026-02-21-crawler-rule-system/.openspec.yaml
  openspec/changes/archive/2026-02-21-crawler-rule-system/design.md
  openspec/changes/archive/2026-02-21-crawler-rule-system/proposal.md
  openspec/changes/archive/2026-02-21-crawler-rule-system/specs/anti-crawl-handling/spec.md
  openspec/changes/archive/2026-02-21-crawler-rule-system/specs/media-data-model/spec.md
  openspec/changes/archive/2026-02-21-crawler-rule-system/specs/page-preview/spec.md
  openspec/changes/archive/2026-02-21-crawler-rule-system/specs/responsive-ui/spec.md
  openspec/changes/archive/2026-02-21-crawler-rule-system/specs/rule-execution-engine/spec.md
  openspec/changes/archive/2026-02-21-crawler-rule-system/specs/web-rule-editor/spec.md
  openspec/changes/archive/2026-02-21-crawler-rule-system/tasks.md
  openspec/specs/crawler/spec.md
  openspec/specs/ui-theme/spec.md
  openspec/specs/web-editor/spec.md
Due: none

feat(preview): 添加页面预览功能
  lib/core/preview/preview.dart
  lib/core/preview/selector_generator.dart
  lib/features/preview/presentation/pages/preview_page.dart
  lib/features/preview/presentation/providers/preview_provider.dart
  lib/features/preview/presentation/providers/preview_provider.g.dart
  web-editor/src/components/preview/PreviewPanel.tsx
  web-editor/src/components/preview/SelectorTestingPanel.tsx
Due: dart format --fix, dart fix --apply, bun run --cwd web-editor lint:fix, bun run --cwd web-editor fmt

feat(crawler): 添加反爬虫处理模块
  lib/core/crawler/executor/anti_crawl.dart
  lib/core/crawler/executor/executor.dart
Due: dart format --fix, dart fix --apply

feat(editor): 添加规则编辑器组件和 UI
  web-editor/public/sample-rules.json
  web-editor/src/components/rules/ActionSequenceEditor.tsx
  web-editor/src/components/rules/FieldMappingEditor.tsx
  web-editor/src/components/rules/PaginationConfigForm.tsx
  web-editor/src/components/rules/RequestConfigForm.tsx
  web-editor/src/components/rules/RuleMetadataForm.tsx
  web-editor/src/components/rules/SelectorInput.tsx
  web-editor/src/components/rules/UrlMatchingForm.tsx
  web-editor/src/components/ui/alert-dialog.tsx
  web-editor/src/components/ui/badge.tsx
  web-editor/src/components/ui/button.tsx
  web-editor/src/components/ui/dropdown-menu.tsx
  web-editor/src/components/ui/label.tsx
  web-editor/src/components/ui/select.tsx
  web-editor/src/components/ui/sonner.tsx
  web-editor/src/components/ui/tabs.tsx
  web-editor/src/hooks/useWebSocket.ts
  web-editor/src/pages/rules/RuleEditorPage.tsx
  web-editor/src/pages/rules/RuleListPage.tsx
Due: bun run --cwd web-editor lint:fix, bun run --cwd web-editor fmt

feat(ui): 添加响应式布局组件
  lib/shared/widgets/responsive_layout.dart
Due: dart format --fix, dart fix --apply

docs: 添加项目文档和指南
  AGENTS.md
  docs/CRAWLER_EDITOR_API.md
  docs/CRAWLER_RULE_DSL.md
  docs/WEB_EDITOR_GUIDE.md
Due: none

test: 添加测试目录结构
  test/core/crawler/crawler_rule_test.dart
Due: dart format --fix, dart fix --apply

refactor: 清理无用代码和更新配置
  .gitignore
  .mcp.json
  CLAUDE.md
  bun.lock
  lib/core/server/handlers/websocket_handler.dart
  lib/core/server/server.dart
  lib/core/server/server_provider.g.dart
  lib/l10n/generated/intl/messages_en.dart
  lib/l10n/generated/intl/messages_zh.dart
  lib/l10n/generated/l10n.dart
  lib/l10n/intl_en.arb
  lib/l10n/intl_zh.arb
  lib/main.dart
  pubspec.lock
  pubspec.yaml
  web-editor/.oxlintrc.json
  web-editor/.vscode/settings.json
  web-editor/bun.lock
  web-editor/package.json
  web-editor/src/App.tsx
  web-editor/src/i18n/index.ts
  web-editor/src/index.css
  web-editor/src/main.tsx
  web-editor/src/stores/index.ts
Due: dart format --fix, dart fix --apply, bun run --cwd web-editor lint:fix, bun run --cwd web-editor fmt

chore: 调整vscode配置
  .gitattributes
  .vscode/settings.json
  bun.lock
  pubspec.lock
  web-editor/bun.lock
Due: none

chore: 更新配置文件
  .gitignore
  .mcp.json
Due: none

docs(openspec): 更新爬虫规则系统重构设计文档
  openspec/changes/refactor-crawler-rule-system/design.md
  openspec/changes/refactor-crawler-rule-system/proposal.md
  openspec/changes/refactor-crawler-rule-system/specs/network-strategies/spec.md
  openspec/changes/refactor-crawler-rule-system/tasks.md
Due: none

docs: 移除过时的文档
  docs/CRAWLER_EDITOR_API.md
  docs/CRAWLER_RULE_DSL.md
  docs/WEB_EDITOR_GUIDE.md
Due: none

chore: 添加 rustfmt.toml
  rust/rustfmt.toml
Due: none

docs(openspec): 重构爬虫系统为 Rust 优先架构
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .lintstagedrc.js
  .lintstagedrc.json
  lib/core/rust/api/http_client.dart
  lib/core/rust/api/http_client.freezed.dart
  lib/core/rust/frb_generated.dart
  lib/core/rust/frb_generated.io.dart
  lib/core/rust/frb_generated.web.dart
  openspec/changes/refactor-crawler-rule-system/design.md
  openspec/changes/refactor-crawler-rule-system/proposal.md
  openspec/changes/refactor-crawler-rule-system/specs/network-strategies/spec.md
  openspec/changes/refactor-crawler-rule-system/specs/pipeline-dsl/spec.md
  openspec/changes/refactor-crawler-rule-system/specs/source-aggregation/spec.md
  openspec/changes/refactor-crawler-rule-system/specs/visual-rule-editor/spec.md
  openspec/changes/refactor-crawler-rule-system/tasks.md
  rust/Cargo.lock
  rust/Cargo.toml
  rust/src/api/http_client.rs
  rust/src/api/mod.rs
  rust/src/api/similarity.rs
  rust/src/api/text_processor.rs
  rust/src/frb_generated.rs
Due: dart format --fix, dart fix --apply

style: 格式化 crawler 相关代码
  lib/core/crawler/executor/lifecycle_executors.dart
  lib/core/crawler/executor/pipeline_executor.dart
  lib/core/crawler/models/pipeline_node.dart
  lib/core/crawler/selector/css_selector.dart
  lib/core/crawler/selector/selector.dart
  lib/core/crawler/selector/xpath_selector.dart
  test/core/crawler/crawler_executor_test.dart
Due: dart format --fix, dart fix --apply

refactor(crawler): remove old dart selectors and pipeline executor
  lib/core/crawler/executor/pipeline_executor.dart
  lib/core/crawler/selector/css_selector.dart
  lib/core/crawler/selector/js_selector.dart
  lib/core/crawler/selector/jsonpath_selector.dart
  lib/core/crawler/selector/regex_selector.dart
  lib/core/crawler/selector/selector.dart
  lib/core/crawler/selector/xpath_selector.dart
  openspec/changes/refactor-crawler-rule-system/tasks.md
Due: dart format --fix, dart fix --apply

refactor(rule): 统一跨语言规则模型架构
  lib/core/rust/api/crawler_models.dart
  lib/core/rust/domain/rule/crawler_rule.dart
  lib/core/rust/domain/rule/crawler_rule.freezed.dart
  lib/core/rust/domain/rule/crawler_rule.g.dart
  lib/core/rust/domain/rule/lifecycle.dart
  lib/core/rust/domain/rule/lifecycle.freezed.dart
  lib/core/rust/domain/rule/lifecycle.g.dart
  lib/core/rust/domain/rule/network.dart
  lib/core/rust/domain/rule/network.freezed.dart
  lib/core/rust/domain/rule/pipeline.dart
  lib/core/rust/domain/rule/pipeline.freezed.dart
  lib/core/rust/domain/rule/pipeline.g.dart
  lib/core/rust/frb_generated.dart
  lib/core/rust/frb_generated.io.dart
  lib/core/rust/frb_generated.web.dart
  lib/core/server/server_provider.g.dart
  openspec/changes/archive/2026-03-03-cross-language-rule-model/.openspec.yaml
  openspec/changes/archive/2026-03-03-cross-language-rule-model/design.md
  openspec/changes/archive/2026-03-03-cross-language-rule-model/proposal.md
  openspec/changes/archive/2026-03-03-cross-language-rule-model/specs/crawler-rule-model/spec.md
  openspec/changes/archive/2026-03-03-cross-language-rule-model/specs/cross-language-rule-model/spec.md
  openspec/changes/archive/2026-03-03-cross-language-rule-model/tasks.md
  openspec/changes/cross-language-rule-model/design.md
  openspec/changes/cross-language-rule-model/tasks.md
  openspec/specs/crawler-rule-model/spec.md
  openspec/specs/cross-language-rule-model/spec.md
  rust/Cargo.lock
  rust/Cargo.toml
  rust/src/api/crawler_models.rs
  rust/src/api/http_client.rs
  rust/src/api/mod.rs
  rust/src/domain/mod.rs
  rust/src/domain/rule/crawler_rule.rs
  rust/src/domain/rule/lifecycle.rs
  rust/src/domain/rule/mod.rs
  rust/src/domain/rule/network.rs
  rust/src/domain/rule/pipeline.rs
  rust/src/frb_generated.rs
  rust/src/lib.rs
  web-editor/src/types/rule.ts
Due: dart format --fix, dart fix --apply, bun run --cwd web-editor lint:fix, bun run --cwd web-editor fmt

feat(rust): 实现阶段执行器并迁移内部模块
  AGENTS.md
  lib/core/crawler/phase_executor.dart
  lib/core/rust/api/html_parser.dart
  lib/core/rust/api/http_client.dart
  lib/core/rust/api/http_client.freezed.dart
  lib/core/rust/api/lifecycle_executor.dart
  lib/core/rust/api/similarity.dart
  lib/core/rust/api/text_processor.dart
  lib/core/rust/domain/phase.dart
  lib/core/rust/domain/phase.freezed.dart
  lib/core/rust/domain/rule/network.dart
  lib/core/rust/domain/rule/network.freezed.dart
  lib/core/rust/domain/rule/network.g.dart
  lib/core/rust/domain/rule/pipeline.dart
  lib/core/rust/domain/rule/pipeline.freezed.dart
  lib/core/rust/domain/rule/pipeline.g.dart
  lib/core/rust/error.dart
  lib/core/rust/error.freezed.dart
  lib/core/rust/frb_generated.dart
  lib/core/rust/frb_generated.io.dart
  lib/core/rust/frb_generated.web.dart
  openspec/changes/archive/2026-03-05-rust-lifecycle-executor/.openspec.yaml
  openspec/changes/archive/2026-03-05-rust-lifecycle-executor/design.md
  openspec/changes/archive/2026-03-05-rust-lifecycle-executor/proposal.md
  openspec/changes/archive/2026-03-05-rust-lifecycle-executor/specs/rust-lifecycle-executor.md
  openspec/changes/archive/2026-03-05-rust-lifecycle-executor/tasks.md
  openspec/specs/rust-lifecycle-executor/spec.md
  rust/src/api/lifecycle_executor.rs
  rust/src/api/mod.rs
  rust/src/domain/mod.rs
  rust/src/domain/phase.rs
  rust/src/domain/rule/network.rs
  rust/src/error.rs
  rust/src/frb_generated.rs
  rust/src/internal/html_parser.rs
  rust/src/internal/http_client.rs
  rust/src/internal/mod.rs
  rust/src/internal/similarity.rs
  rust/src/internal/text_processor.rs
  rust/src/lib.rs
Due: dart format --fix, dart fix --apply

chore(openspec): 归档 rust-lifecycle-executor 变更记录
  openspec/changes/rust-lifecycle-executor/.openspec.yaml
  openspec/changes/rust-lifecycle-executor/design.md
  openspec/changes/rust-lifecycle-executor/proposal.md
  openspec/changes/rust-lifecycle-executor/specs/rust-lifecycle-executor.md
  openspec/changes/rust-lifecycle-executor/tasks.md
Due: none

docs(openspec): 移除所有openspec的skill文档
  .claude/commands/opsx/apply.md
  .claude/commands/opsx/archive.md
  .claude/commands/opsx/bulk-archive.md
  .claude/commands/opsx/continue.md
  .claude/commands/opsx/explore.md
  .claude/commands/opsx/ff.md
  .claude/commands/opsx/new.md
  .claude/commands/opsx/onboard.md
  .claude/commands/opsx/sync.md
  .claude/commands/opsx/verify.md
  .claude/skills/openspec-apply-change/SKILL.md
  .claude/skills/openspec-archive-change/SKILL.md
  .claude/skills/openspec-bulk-archive-change/SKILL.md
  .claude/skills/openspec-continue-change/SKILL.md
  .claude/skills/openspec-explore/SKILL.md
  .claude/skills/openspec-ff-change/SKILL.md
  .claude/skills/openspec-new-change/SKILL.md
  .claude/skills/openspec-onboard/SKILL.md
  .claude/skills/openspec-sync-specs/SKILL.md
  .claude/skills/openspec-verify-change/SKILL.md
Due: none

docs(plan): 制定重构计划
  .opencode/commands/commit.md
  .opencode/skills/flutter-dart-guide/SKILL.md
  .opencode/skills/react-web-editor-guide/SKILL.md
  .opencode/skills/rust-ffi-guide/SKILL.md
  .sisyphus/boulder.json
  .sisyphus/notepads/rust-rules-architecture-refactor/decisions.md
  .sisyphus/notepads/rust-rules-architecture-refactor/issues.md
  .sisyphus/notepads/rust-rules-architecture-refactor/learnings.md
  .sisyphus/notepads/rust-rules-architecture-refactor/problems.md
  .sisyphus/plans/rust-rules-architecture-refactor.md
  AGENTS.md
  CLAUDE.md
Due: none

chore: 清理代码
  .gitignore
Due: none

refactor(rust): 搭建新 workspace crates
  rust/Cargo.lock
  rust/Cargo.toml
  rust/crates/ffi/Cargo.toml
  rust/crates/ffi/src/lib.rs
  rust/crates/io_http/Cargo.toml
  rust/crates/io_http/src/lib.rs
  rust/crates/rules_engine/Cargo.toml
  rust/crates/rules_engine/src/lib.rs
  rust/crates/rules_ir/Cargo.toml
  rust/crates/rules_ir/bindings/Capabilities.ts
  rust/crates/rules_ir/bindings/DataType.ts
  rust/crates/rules_ir/bindings/Edge.ts
  rust/crates/rules_ir/bindings/Graph.ts
  rust/crates/rules_ir/bindings/GraphLayout.ts
  rust/crates/rules_ir/bindings/GraphMetadata.ts
  rust/crates/rules_ir/bindings/LifecyclePhase.ts
  rust/crates/rules_ir/bindings/Metadata.ts
  rust/crates/rules_ir/bindings/Node.ts
  rust/crates/rules_ir/bindings/NodeKind.ts
  rust/crates/rules_ir/bindings/NodeLayout.ts
  rust/crates/rules_ir/bindings/Port.ts
  rust/crates/rules_ir/bindings/PortRef.ts
  rust/crates/rules_ir/bindings/RecordField.ts
  rust/crates/rules_ir/bindings/rule.ts
  rust/crates/rules_ir/src/bin/export_ts.rs
  rust/crates/rules_ir/src/diagnostic.rs
  rust/crates/rules_ir/src/lib.rs
  rust/crates/rules_ir/src/normalized_model.rs
  rust/crates/rules_ir/src/ws_protocol.rs
  rust/crates/rules_validate/Cargo.toml
  rust/crates/rules_validate/src/lib.rs
  rust/src/lib.rs
Due: none

feat(db): 添加规则存储加密字段
  lib/core/database/drift/app_database.dart
  lib/core/database/drift/app_database.g.dart
  lib/core/database/drift/rule_storage_cipher.dart
  lib/core/database/drift/tables/crawl_rules.dart
  lib/core/database/drift/tables/rules_v1.dart
  pubspec.lock
  pubspec.yaml
  test/app_database_migration_test.dart
Due: dart format --fix, dart fix --apply
